Raspberry Pi/
balena-etcher/
BraveSoftware/
Docker Desktop/
Electron/
GIMP/
qutebrowser/
QtProject.conf
QtProject/
Signal/
Unknown Organization/
autostart/
baloofileinformationrc
btop/
cef_user_data/
chromium/
dconf/
discord/
edclient.focusedq
fancontrol-gui
fontforge/
fsample
gdlauncher/
gdlauncher_next/
glava/
google-chrome/
gtk-2.0/
gtk-3.0/
helpful_commands
htop/
hypr/
katemetainfos
katerc
katevirc
kblackboxrc
kconf_updaterc
kde.org/
kdeglobals
kiorc
klicketyrc
kpatrc
kservicemenurc
ksnakeduelrc
ksudokurc
ktuberlingrc
kwin4rc
libreoffice/
lutris/
lximage-qt/
lxqt/
pnpm
menus/
mimeapps.list
neofetch/
obs-studio/
obsidian/
onedrive-gui/
onedrive/
ookla/
openbox/
palapelirc
pavucontrol-qt/
pavucontrol.ini
pcmanfm-qt/
polybar.old/
Proton
pulse/
qterminal.org/
savedconfigs_july23.zip
session/
spotify/
teamviewer/
tlk-games/
trashrc
user-dirs.dirs
user-dirs.locale
voxelands/
window-geometry.conf
xdg-terminals.list
zoom.conf
zoomus.conf
Code - OSS/
GitHub Desktop/
falkon/
filetypesrc
ghb/
konfigz/
ktrashrc
qt6ct/
sddm/
supertuxkart/
thinktheme/
vesktop/
vlc/
nvim/lazy-lock.json
