grimshot
alacritty
nm-tray
nm-connection-editor
git
dolphin
dmenu
bash
alsa
ttf-iosevka-nerd
intel-gmmlib
intel-media-driver
pavucontrol
playerctl
polkit-kde-agent
pulseaudio-nextsink
python
reflector
neovim
rofi
dunst
sddm-git
sudo
spotifyd
spotify-launcher
sway
swaybg
swayidle
swaylock-effects-git
timeshift
timeshift-systemd-timer
dbus-python
ufw
wl-clipboard
vim
vim-syntastic
vim-wakatime-git
waybar
wayland
wayland-protocols
xf86-input-synaptics

YAY:
autotiling
brave-bin
papirus-icon-theme
